body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #fafafa;
    color: #333;
}

header {
    background: #d488c8;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 30px;
    max-width: 900px;
    margin: auto;
}

h2 {
    color: #b85ba6;
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #ffe6f6;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 2px 6px #0003;
}

footer {
    background: #d488c8;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

.tab-btn.active {
    background-color: #caa56a;
    color: white;
    font-weight: bold;
}
